/* Body of App */
.App-header {
    background-color:var(--darkKnight);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
/* Button styles */
button{
    color:var(--customCyan);
    background-color:var(--darkKnight);
    border-radius:50%;
    outline:none;
    border:3px solid var(--customCyan);
    height:40px;
    width:40px;
}

button:focus {outline:0;}

.btn1{
    position:relative;
    right:10px;
}

.btn2{
    position:relative;
    left:10px;
}

.btn3{
    position:relative;
    right:22px;
}

.btn4{
    position:relative;
    left:22px;
}
/* End of Button styles */

/* Responsive div holds child components */ 
.container-fluid{
    margin: 0px 5px 0px 5px;
}
/* All rows */
.row{
    margin-top:5px;
}

/* Main Pomodor Title */
.pomodorTitle{
    font-size:4rem;
    margin:auto;
    margin-bottom:1px;
    position:relative;
    top:-20px;
}

/* Play, Pause, and Reset button */
.playStyle{
    margin-top:30px;
    border-style:none;
    background-color:var(--darkKnight);
    height:60px;
    width:60px;
    padding:0px 0px 6px 0px;
    border-radius:none;
    color:var(--customCyan);
    outline:none;
    border:3px solid var(--customCyan);
}
