/* Body of App */
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

/* Responsive div holds child components */ 
.container-fluid{
    margin: 0px 5px 10px 5px;
}

/* Break Len & Session Len Cols */
.col-6{
    margin-top:20px;
    padding:22px;
}

/* Main Pomodor Title */
.pomodorTitle{
    font-size:4.2rem;
    margin-top:30px;
    margin:auto;
}

/* Play button */
.playStyle{
    margin-top:15px;
}

