/* Body of App */
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

/* Responsive div holds child components */ 
.container-fluid{
    height:400px;
    width:auto;
    margin:auto;
}

/* Break & Session grid sys boot */
.col-6{
    height:200px;
    width:300px;
}

/* Header Title of Body */
.pomodorTitle{
    margin-top:200px;
    font-size:3em;
}

/* Play button */
.playStyle{
    margin:-100px auto auto auto;
    font-size:35px;
}

.r1{
    margin-top:-200px;
}
