/* Body of App */
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

/* Responsive div holds child components */ 
.container-fluid{
    margin:3px;
    width:100%;
    padding-bottom:60px;

}

/* Break & Session grid sys boot */
.col-6{
    width:500px;
    height:200px;
}

/* Header Title of Body */
.pomodorTitle{
    font-size:75px;
    position:relative;
    top:10px;
}

/* Play button */
.playStyle{
    margin:auto;
}
