/* CSS declared variables */
:root{
  --customCyan:#61dafb
}

body{
  margin: 0;
  font-family: 'Orbitron', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

h1,h2,h3,h4,h5,h6{
  color:var(--customCyan);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


